<main class="flex justify-center items-center w-full h-screen">
  <form (ngSubmit)="submit()" [formGroup]="leagueForm" class="flex flex-col gap-4 px-8 py-4 bg-dark-2 rounded-md shadow-md">
    <h1 class="text-4xl font-title text-center">Nueva Liga</h1>
    <div class="input">
      <label for="logo">Logo</label>
      <input (change)="changeLogo($event)" formControlName="logo" type="file" id="logo" />
    </div>
    <div class="input">
      <label for="name">Nombre de la liga</label>
      <input formControlName="name" type="text" id="name" />
    </div>
    <button [disabled]="!leagueForm.valid" class="button bg-green" type="submit">Crear</button>
    <a routerLink="/leagues" class="button text-center bg-dark-1">Volver</a>
  </form>
</main>
