<main class="flex justify-center items-center h-screen">
  <form (submit)="login()" class="flex flex-col gap-4 w-1/4 bg-light-2 py-4 px-8 rounded-md shadow-md" [formGroup]="loginForm" >
    <h1 class="font-title text-4xl text-center mb-4">Iniciar sesion</h1>
    <div class="input">
      <label for="email">CORREO</label>
      <input formControlName="email" type="email" id="email" />
    </div>
    <div class="input">
      <label for="password">CONTRASENA</label>
      <input formControlName="password" type="password" id="password" />
    </div>
    <div class="checkbox self-center">
      <input formControlName="keep" type="checkbox" id="keep" />
      <label class="text-xs font-light" for="keep">Mantener conectado</label>
    </div>
    <button [disabled]="!loginForm.valid" class="button bg-green text-dark-1" type="submit">Entrar</button>
  </form>
</main>
