<main class="flex">
  <navigation />
  <section class="p-4 w-full flex flex-col gap-2">
    <article class="flex items-center justify-between">
      <h1 class="text-2xl font-bold">Categorias</h1>
      <button class="button bg-dark-1" (click)="swapShowCreateForm()">{{ showCreateForm ? 'Cerrar' : 'Nueva categoria' }}</button>
    </article>
    <form (ngSubmit)="submitCreateForm()" [formGroup]="createForm" [className]="showCreateForm ? 'flex gap-2 justify-end' : 'hidden'">
      <div class="input">
        <label for="name">Categoria</label>
        <input formControlName="name" id="name" type="text" />
      </div>
      <button [disabled]="!createForm.valid" type="Submit" class="button bg-green">Guardar</button>
    </form>
  </section>
</main>
